@page
@model WebApplication4.Pages.doneModel
@{
    ViewData["Title"] = "Registration Done!";
}
<body>
    <div class="text-center">

        <h1 class="display-4"><big><u><b>Registration Completed!</b></u></big></h1>
    </div>
</body>